.notes-container {
    display: grid;
    gap: 2rem;
    padding: 16rem 5rem 5rem 5rem;
    background-color: rgb(202, 202, 202);
  }

@media screen and (min-width: 600px) {
  .notes-container {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
}
@media screen and (min-width: 1025px) {
  .notes-container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
    padding: 19rem 12rem 5rem 12rem;
  }
}